.container-fluid
  .row
    .col-12
      .d-flex.justify-content-between.align-items-center.mb-4
        %h1.h3.mb-0
          %i.fas.fa-shopping-bag.text-primary
          商品
        = link_to new_store_store_item_path(@store), class: "btn btn-primary" do
          %i.fas.fa-plus
          商品開発

      / レシピ一覧
      - if @items.any?
        .row
          - @items.each do |item|
            .col-lg-3.col-md-4.col-sm-6.mb-4
              .card.h-100.shadow-sm
                / レシピ画像プレースホルダー
                .card-img-top.bg-light.d-flex.align-items-center.justify-content-center{style: "height: 200px;"}
                  %i.fas.fa-image.text-muted{style: "font-size: 3rem;"}
                
                .card-body.d-flex.flex-column
                  %h5.card-title.text-truncate
                    = link_to item.name, store_store_item_path(@store, item), class: "text-decoration-none"
                  
                  %p.card-text.text-muted.small.mb-2
                    %i.fas.fa-tag
                    = item.item_category&.name || "カテゴリーなし"
                  
                  .mt-auto
                    .d-flex.justify-content-between.align-items-center.mb-2
                      %span.badge.badge-info
                        %i.fas.fa-store
                        = item.store&.name
                      %small.text-muted
                        %i.fas.fa-clock
                        = item.created_at.strftime("%Y/%m/%d")
                    
                    .d-flex.justify-content-between.align-items-center
                      
                      .btn-group{role: "group"}
                        = link_to store_store_item_path(@store, item), class: "btn btn-outline-primary btn-sm" do
                          %i.fas.fa-eye
                          詳細
                        - if item.store&.user_id == current_user&.id
                          = link_to edit_store_store_item_path(@store, item), class: "btn btn-outline-secondary btn-sm" do
                            %i.fas.fa-edit
                            編集

        / ページネーション
        .d-flex.justify-content-center.mt-4
          = paginate @items
      - else
        .text-center.py-5
          %i.fas.fa-box-open.text-muted{style: "font-size: 4rem;"}
          %h3.text-muted.mt-3 商品がありません
          %p.text-muted まだ商品が登録されていません。
