.container
  .row
    .col-12
      / パンくずリスト
      %nav{aria: {label: "breadcrumb"}}
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to "商品一覧", store_store_items_path(@item.store)
          %li.breadcrumb-item.active{aria: {current: "page"}}= @item.name

      .row
        / 商品画像
        .col-md-6.mb-4
          .card
            .card-body.text-center
              .bg-light.d-flex.align-items-center.justify-content-center{style: "height: 400px;"}
                %i.fas.fa-image.text-muted{style: "font-size: 5rem;"}

        / 商品情報
        .col-md-6
          .card
            .card-body
              %h1.card-title.h2.mb-3= @item.name
              
              .mb-3
                .row
                  .col-6
                    .text-muted.small カテゴリー
                    .font-weight-bold
                      %i.fas.fa-calendar.text-info
                      = @item.item_category&.name || "カテゴリーなし"
                  .col-6
                    .text-muted.small 登録日
                    .font-weight-bold
                      %i.fas.fa-calendar.text-info
                      = @item.created_at.strftime("%Y年%m月%d日")

              / アクションボタン
              .d-grid.gap-2
                - if @item.store&.user_id == current_user&.id
                  .btn-group{role: "group"}
                    = link_to edit_store_store_item_path(@item.store, @item), class: "btn btn-outline-primary" do
                      %i.fas.fa-edit
                      編集
                    = link_to store_store_items_path(@item.store), class: "btn btn-outline-secondary" do
                      %i.fas.fa-arrow-left
                      一覧に戻る
                - else
                  %button.btn.btn-success.btn-lg
                    %i.fas.fa-shopping-cart
                    購入する
                  = link_to store_store_items_path(@item.store), class: "btn btn-outline-secondary" do
                    %i.fas.fa-arrow-left
                    一覧に戻る
                / レシピ（必要な材料）
          .row.mt-4
            .col-12
              .card
                .card-header
                  %h5.mb-0
                    %i.fas.fa-list-ul.text-primary
                    材料
                .card-body
                  .table-responsive
                    %table.table.table-hover
                      %tbody
                        - @item.recipe_materials.each do |material|
                          %tr
                            %td
                              %i.fas.fa-cube.text-muted.mr-2
                              = material.item&.name
