.container.py-4
  .d-flex.align-items-center.gap-3.mb-4
    = link_to store_store_path(@store), class: "btn btn-outline-secondary btn-sm" do
      %i.fas.fa-arrow-left
      店舗へ戻る
    %h1.mb-0= @store.name
    %span.text-muted.small 在庫一覧

  - if flash[:notice]
    .alert.alert-success= flash[:notice]

  .card.shadow-sm.mb-4
    .card-body.py-2
      = form_with url: store_store_stocks_path(@store), method: :get, local: true do |f|
        .row.g-2.align-items-end
          .col-sm-5
            = f.label :item_category_id, '商品カテゴリ', class: 'form-label form-label-sm mb-1'
            = f.select :item_category_id, options_from_collection_for_select(@item_categories_for_filter, :id, :name, params[:item_category_id]), { prompt: 'すべてのカテゴリ' }, { class: 'form-select form-select-sm' }
          .col-sm-4
            = f.label :status, '状態', class: 'form-label form-label-sm mb-1'
            = f.select :status,
                [['すべて', ''], ['出品中', 'listed'], ['未出品', 'unlisted']],
                { selected: params[:status] },
                { class: 'form-select form-select-sm' }
          .col-sm-auto
            = f.submit '絞り込む', class: 'btn btn-primary btn-sm'
          - if params[:item_category_id].present? || params[:status].present?
            .col-sm-auto
              = link_to 'リセット', store_store_stocks_path(@store), class: 'btn btn-outline-secondary btn-sm'

  - if @stocks.any?
    .table-responsive
      %table.table.table-hover.align-middle
        %thead.table-dark
          %tr
            %th 商品名
            %th カテゴリ
            %th 仕入れ値
            %th 販売価格
            %th 状態
            %th
        %tbody
          - @stocks.each do |stock|
            %tr
              %td.fw-bold= stock.name
              %td.text-muted.small= stock.item_sub_category&.name
              %td= "#{stock.cost}円"
              %td= "#{stock.price}円"
              %td
                - if stock.listed?
                  %span.badge.bg-warning.text-dark 出品中
                - else
                  %span.badge.bg-secondary 未出品
              %td.text-end
                - if stock.listed?
                  = button_to '取り消し', unlist_store_store_stock_path(@store, stock), method: :post, class: "btn btn-outline-secondary btn-sm"
                - else
                  = link_to '出品する', list_store_store_stock_path(@store, stock), class: 'btn btn-warning btn-sm'
  - else
    .alert.alert-info
      - if params[:item_category_id].present? || params[:status].present?
        絞り込み条件に一致する在庫がありません。
      - else
        まだ在庫がありません。
        = link_to '中央卸売市場で仕入れる', market_store_town_path(@store.town), class: "alert-link"
