<div class="container">
<%= form_with model: @vr, local: true do |f| %>
  <div class="field form-group">
    <label>タイトル</label><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <label>左の画像</label><br />
    <%= f.file_field :left, class: "" %>
  </div>

  <div class="field form-group">
    <label>右の画像</label><br />
    <%= f.file_field :right, class: "" %>
  </div>

  <div class="field form-group">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>
</div>