.page-aside.z-index-100
  .d-flex.flex-column.text-left.mt-3.ms-3.h-100
    = link_to root_path, class: 'link-no-underline text-white' do
      ホームラボ
    .mt-3.text-white
      メニュー

    = link_to store_dashboard_path, class: 'link-no-underline sidebar-menu mt-3' do
      .d-flex.align-items-center.text-white
        %i.fas.fa-home.fa-fw
        .ms-2
          ダッシュボード
    = link_to store_stores_path, class: 'link-no-underline sidebar-menu mt-3' do
      .d-flex.align-items-center.text-white
        %i.fas.fa-store.fa-fw
        .ms-2
          自分のお店

    - current_town = current_user.town
    - if current_town
      .mt-3.text-white
        公共施設
      - market = current_town.stores.find { |s| s.user_id.nil? }
      - if market
        = link_to market_store_town_path(current_town), class: 'link-no-underline sidebar-menu mt-2' do
          .d-flex.align-items-center.text-white
            %i.fas.fa-warehouse.fa-fw
            .ms-2
              中央卸売市場
      = link_to store_shopping_street_path, class: 'link-no-underline sidebar-menu mt-2' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-building.fa-fw
          .ms-2
            商店街
      = link_to store_bank_path, class: 'link-no-underline sidebar-menu mt-2' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-university.fa-fw
          .ms-2
            銀行
            - if current_user.in_debt?
              %span.badge.bg-danger.ms-1.small 借入中
    - else
      .mt-3.text-white.small.opacity-75 町未選択

    - if current_user.admin?
      .mt-3.text-white
        各種カテゴリー
      = link_to store_store_categories_path, class: 'link-no-underline sidebar-menu mt-2' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-layer-group.fa-fw
          .ms-2
            店舗カテゴリ
      = link_to store_item_categories_path, class: 'link-no-underline sidebar-menu mt-2' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-list-alt.fa-fw
          .ms-2
            商品カテゴリ
      = link_to store_item_sub_categories_path, class: 'link-no-underline sidebar-menu mt-2' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-sitemap.fa-fw
          .ms-2
            商品サブカテゴリ

    .mt-3.text-white
      その他
    = link_to store_guide_path, class: 'link-no-underline sidebar-menu mt-2' do
      .d-flex.align-items-center.text-white
        %i.fas.fa-book-open.fa-fw
        .ms-2
          遊び方

    .mt-auto.mb-2
      = link_to select_store_towns_path, class: 'link-no-underline sidebar-menu' do
        .d-flex.align-items-center.text-white
          %i.fas.fa-map.fa-fw.me-2
          .small 街を切り替える
      .mt-3.mb-1
        .text-white.small.mb-1 所持金
        .d-flex.align-items-center.gap-1.text-white
          %i.fas.fa-coins
          %span.fw-bold= "#{current_user.balance}円"
      .mt-2.mb-4
        .text-white.small.mb-1 選択中の街
        .d-flex.align-items-center.gap-1.text-white
          %i.fas.fa-map-marker-alt
          - if current_user.town
            %span.fw-bold= current_user.town.name
          - else
            %span.opacity-75.small 未選択

:css
  .page-aside {
    background-color: #ffa244;
  }
  .page-aside {
      position: fixed;
      height: 100%;
      top: 0px;
      width: 270px;
  }
  .font-0_65rem {
    font-size: 0.65rem;
  }
