<div class="container pt-3">
  <% @tickets.each do |t| %>
  <div class="card mb-2" style="background-color: <%= t.color %>; color: white">
    <div class="card-body row">
      <div class="col-8">
        <%= t.title %>[<%= t.point %>]
      </div>
      <div class="col-4">
        <%= link_to "編集", edit_charactor_ticket_path(charactor_id: @charactor.id, id: t.id), class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="card mb-2 p-3">
    <button data-toggle="modal" data-target="#logModal" class="btn btn-info mb-2">チケット作成</button>
  </div>
</div>

<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_log_title" id="">チケット作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Ticket.new, url: charactor_tickets_path(charactor_id: @charactor.id), local: true do |f| %>
          <label>タイトル</label><br />
          <div class="input-group mb-2">
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <label>購入に必要なポイント</label><br />
          <div class="input-group mb-2">
            <%= f.text_field :point, class: "form-control" %>
          </div>
          <label>カラー</label><br />
          <div class="input-group mb-2">
            <%= f.color_field :color, class: "" %>
          </div>

          <div class="field form-group">
            <input type="submit" value="作成" class="btn btn-primary">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">止める</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>


</style>