<div class="fixed-background background-2">
  <div class="inner">
    <% @charactors.each do |chara| %>
      <%= link_to charactor_path(chara), class:"card" do %>
        <h2 class="name"><%= chara.name %> LV. <%= chara.level %></h2>
          <ul class="row">
            <li class="col-6">うんどう: レベル. <%= chara.motion_level %></li>
            <li class="col-6">かしこさ: レベル. <%= chara.knowledge_level %></li>
            <li class="col-6">けんこう: レベル. <%= chara.health_level %></li>
            <li class="col-6">にんき: レベル. <%= chara.communication_level %></li>
          </ul>
      <% end %>
    <% end %>
    <p class="card">
      <button data-toggle="modal" data-target="#logModal" class="btn btn-info mb-2">キャラクターをつくる</button>
    </p>
  </div>
</div>

<!-- Log Modal -->
<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_log_title" id="">キャラクター作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Charactor.new, local: true do |f| %>
          <label>名前</label><br />
          <div class="input-group mb-2">
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="field form-group">
            <input type="submit" value="作成" class="btn btn-primary">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
.card{
  width: 95%;
  margin: 10px auto;
  padding: 20px;
}

.name{
  padding-left: 10px;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  color: black;
}

li{
  color: black;
}

a.card{
  text-decoration: none;
}
</style>