<head>
<link rel="preload" as="image" href="/img/leaf1.png">
<link rel="preload" as="image" href="/img/leaf2.png">
<link rel="preload" as="image" href="/img/leaf3.png">
<link rel="preload" as="image" href="/img/leaf4.png">
</head>
<div class="fixed-background background-1">
  <div class="inner">

    <h1 class="name"><%= @charactor.name %> LV. <%= @charactor.level %></h1>
    <ul class="row">
      <li class="col-12">運動力: LV. <%= @charactor.motion_level %> (<%= @charactor.motion_exp %>/100)</li>
      <li class="col-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%= @charactor.motion_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="col-12 mt-2">知識力: LV. <%= @charactor.knowledge_level %> (<%= @charactor.knowledge_exp %>/100)</li>
      <li class="col-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%= @charactor.knowledge_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="col-12 mt-2">健康力: LV. <%= @charactor.health_level %> (<%= @charactor.health_exp %>/100)</li>
      <li class="col-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%= @charactor.health_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="col-12 mt-2">発信力: LV. <%= @charactor.communication_level %> (<%= @charactor.communication_exp %>/100)</li>
      <li class="col-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  style="width: <%= @charactor.communication_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    </ul>

    <span class="title">所持スキル</span>
    <div class="skills">
      <% @charactor.charactor_skills.eager_load(:skill).each do |cs| %>
        <span class="skill" data-toggle="modal" data-target="#exampleModal">
          [<span class="skill_name"><%= cs.skill.name %></span> LV. <%= cs.level %>]
          <span class="skill_explanation"><%= cs.skill.explanation %></span>
        </span>
      <% end %>
    </div>
    <hr>
    <%= link_to "保有チケットを確認", charactor_charactor_tickets_path(@charactor), class: "btn btn-info" %>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar"  style="width: <%= @charactor.total_exp %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    あと<%= 100 - @charactor.total_exp %>経験値でチケット獲得
    <hr>
    <div class="experiences">
      <%= link_to "+新しくクエストを追加", new_experience_path(charactor_id: @charactor.id), class: "btn btn-info mb-2"  %>
      <% @charactor.experiences.each do |ex| %>
        <div data-id="<%= ex.id %>" data-category_id="<%= ex.category_id %>" data-exp="<%= ex.unit_exp %>" class="experience card p-2 mb-2 mt-2">
          <p class="name mb-2">
            [<%= ex.category.name %>]<%= ex.name %>
          </p>
          <p class="mb-2"><%= ex.explanation %></p>
          <p class="mb-2">
            報酬： 1<%= ex.unit %>で<%= ex.unit_exp %>経験値を獲得
          </p>
          <span class="count">1</span>
        </div>
      <% end %>
    </div>
    <p class="submit_btn">
      <button class="submit btn btn-primary btn-lg btn-block">決定</button>
      <hr>
    </p>


  </div>
</div>

<!-- Skill Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_skill_name" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal_skill_body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= form_with url: "/experience_logs", local: true  do%>
<% end %>


<script>
$(".skill").on("click", function(){
  let name = $(this).find(".skill_name").text();
  let explanation  = $(this).find(".skill_explanation").text();

  $(".modal_skill_name").text(name)
  $(".modal_skill_body").text(explanation)
})

//params: {data: [{id: 3, exp_point: 40, count: 1, category_id: 3}, {id: 1, exp_point: 10, count: 2,category_id: 4}]}

let data = [];
$(".experience").on("click", function(){
  id = $(this).data("id");

  if(data.find(e => e["id"] == id)){
    d = data.find(e => e["id"] == id)
    if(d.count >= 4){
      $(this).removeClass("active")
      $(this).removeClass("leaf-4")
      data = data.filter(e => e["id"] != id)
    }else{
      $(this).removeClass("leaf-"+d.count)
      d.count += 1
      $(this).addClass("leaf-"+d.count)
      $(this).find(".count").text(d.count)
    }
  }else{
    $(this).addClass("active")
    $(this).find(".count").text(1)
    $(this).addClass("leaf-1")
    data.push({"id": id, "exp_point": $(this).data("exp"), count: 1, "category_id": $(this).data("category_id")})
  }

  if(data.length >= 1){
    $(".submit_btn").show()
  }else{
    $(".submit_btn").hide()
  }
});

$(".submit_btn").on("click", function(){
  input_user = $("<input>", {name: "id", value: <%= @charactor.id %>})
  $("form").append(input_user)
  // data分くりかえし
  data.forEach(function(d){
    input_id = $("<input>", {name: "data[][id]", value: d["id"]})
    input_exp = $("<input>", {name: "data[][exp_point]", value: d["exp_point"] * d["count"]})
    input_cat = $("<input>", {name: "data[][category_id]", value: d["category_id"]})
    
    $("form").append(input_id)
    $("form").append(input_exp)
    $("form").append(input_cat)
  })

  $("form").submit();
});


</script>

<style>
.title{
  border-bottom: solid 1px #777;
}

.skills{
  margin-top: 5px;
}


.skill_explanation{
  display: none;
}

.active{
  background-color: #8fb779;
  position: relative;
}

.active p{
  color: white;
}

.submit_btn{
  display: none;
}

.count{
  display: none;
}

.active .count{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 25px;
}

.active.leaf-1 .count{
    background: url(/img/leaf1.png);
    background-position: center;
    background-size: cover;
}

.active.leaf-2 .count{
    background: url(/img/leaf2.png);
    background-position: center;
    background-size: cover;
}

.active.leaf-3 .count{
    background: url(/img/leaf3.png);
    background-position: center;
    background-size: cover;
}

.active.leaf-4 .count{
    background: url(/img/leaf4.png);
    background-position: center;
    background-size: cover;
}

</style>