.container.py-4
  .row.justify-content-center
    .col-lg-5.col-md-7

      .d-flex.align-items-center.gap-3.mb-4
        = link_to :back, class: "btn btn-outline-secondary btn-sm" do
          %i.fas.fa-arrow-left
          戻る
        %h1.mb-0 商品の種類を登録

      .card.shadow-sm
        .card-body
          = form_with model: @item_sub_category, url: store_item_sub_categories_path do |f|
            - if @item_sub_category.errors.any?
              .alert.alert-danger
                %ul.mb-0
                  - @item_sub_category.errors.full_messages.each do |msg|
                    %li= msg

            .mb-3
              = f.label :item_category_id, 'カテゴリ', class: 'form-label fw-bold'
              = f.select :item_category_id,
                  options_from_collection_for_select(@item_categories, :id, :name, @item_sub_category.item_category_id),
                  { prompt: '選択してください' },
                  { class: 'form-select' }

            .mb-4
              = f.label :name, '種類名', class: 'form-label fw-bold'
              = f.text_field :name, class: 'form-control'

            = f.submit '登録する', class: 'btn btn-primary w-100'
